body{
    background: url("../img/musicbckr.png");
    color: white;
    font-family: 'Lato', sans-serif;
    background-attachment: fixed;
}

#wallpaper{
    margin: 0 auto;
}

#header{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

#logo{
    font-size: 80px;
}

#menu{
    height: 40px;
    width: 900px;
    background-color: #86c3ca;
    margin: 0 auto;
}

#menuBorder{
    margin-left: 40px;
    width: 860px;
}

.menuItems{
    vertical-align: top;
    height: 27px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 13px;
}

.menuItemsSearch{
    display: inline-block;
    margin-left: 40px;
    padding-top: 11px;
}

.menuItemText{
    letter-spacing: 1.3pt;
}

.search{
    width: 300px;
}

#rightMenuItem{
    vertical-align: top;
    height: 25px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    text-align: right;
    margin-left: 20%;
    font-size: 12px;
}

#rightMenuItem:hover{
    background-color: #1c8591;
    cursor: pointer;
}

.menuItems:hover{
    background-color: #1c8591;
    cursor: pointer;
}



.noStyleLinks{
    text-decoration: none;
    color: white;
}

#wallContent{
    width: 900px;
    background-color: rgba(0,0,0,0.6);
    margin: 0 auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

#hiddenMenu{
    display: none;
    background-color: #1c8591;
    border-left: 1px solid white;
    border-right: 1px solid white;
    width: 100px;
    margin-left: 799px;
    margin-top: -30px;

}

.hiddenMenuText{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;
    border-bottom: 1px solid white;
}

.hiddenMenuText:hover{
    color: #86c3ca;
}

.profileContent{
    width: 800px;
    margin: 0 auto;
    background-color: white;


}

.profilePic{
    width: 200px;
    display: inline-block;
    border: 2px solid #86c3ca;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.profileFollow{
    display: inline-block;
    vertical-align: top;
    padding-left: 40px;
    width: 500px;
}

.profileName{
    font-size: 24px;
    letter-spacing: 1.6pt;
    color: #1c8591;
    padding-top: 10px;
}

.follows{
    display: inline-block;
    text-align: center;
    margin-right: 5px;
}

#followButton{
    display: inline-block;
    vertical-align: top;
    color: white;
    background-color: #cc4148;
    width: 150px;
    border: 0;
    border-radius: 5px;
    height: 22px;
    margin-top: 5px;
    margin-left: 20px;
    cursor: pointer;
    outline: none;

}

#followButton:active{
    background-color: darkred;
    outline:none;}


.followsNrDiv{
    margin-top: 5px;
    background-color: #86c3ca;
    width: 80px;
}

.followsNr{
    padding-top: 4px;
    padding-bottom: 2px;
}

.followsText{
    padding-top: 5px;
    font-size: 12px;
    color: black;
}

.about{
    border-bottom: 1px solid #1c8591;
    border-top: 1px solid #1c8591;
    margin-top: 15px;
    height: 118px;
    margin-bottom: 15px;
}

.aboutText{
    padding-top: 15px;
    letter-spacing: 1.01pt;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 1.2;
    color: dimgray;
    font-style: italic;
}

.post{
    text-align: center;
    width: 900px;
    margin: 0 auto;
    padding-top: 20px;
}

.statusContent{
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
    opacity: 1;
    background-color: white;
}

.statusUser{
    width: 120px;
    background-color: white;
    display: inline-block;
}

.statusUserImg{
    border: 2px solid #86c3ca;
    height: 100px;
    width: 100px;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.statusUserText{
    font-size: 12px;
    text-align: center;
    padding-bottom: 10px;
    color: #1c8591;
    font-weight: bold;
    background-color: white;
    border: none;
    width: 150px;
    cursor: pointer;
    outline: none;
}

.statuses{
    display: inline-block;
    vertical-align: top;
    width: 600px;
}

.statusBorder{
    width: 600px;
    height: 20px;
    border-bottom: 1px solid #86c3ca;
    text-align: center;
    margin-left: 40px;
}

.statusBorderText{
    font-size: 10px;
    font-family: "georgia", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    color: grey;
    font-style: italic;
}

.statusPosts{
    padding-top: 10px;
    padding-left: 40px;
    width: 600px;
    text-align: center;

}

.statusPostsText{
    color: black;
    font-size: 17px;
    word-wrap: break-word;
    text-align: left;
    line-height: 1.2;
}

.statusPostsPhoto{
    max-width: 600px;
    max-height: 800px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #86c3ca;
}

.statusUnderBorder{
    width: 800px;
    height: 30px;
    background-color: #86c3ca;
}

.showLikes{
    display: inline-block;
    padding-top: 10px;
    padding-left: 15px;
    font-size: 13px;
}

.showLikesText{
    display: inline-block;
    width: 70px;
}

.showComments{
    display: inline-block;
    width: 100px;
}

.statusButtons{
    display: inline-block;
    padding-left: 410px;
}

.likeButton{
    display: inline-block;
    color: white;
    background-color: #86c3ca;
    border: 0;
    width: 60px;
    text-align: center;
    height: 20px;
    font-size: 13px;
    letter-spacing: 1.2pt;
    cursor: pointer;
    outline: none;
}

.likeButton:hover{
    color: #1c8591;
}

.commentButton{
    display: inline-block;
    color: white;
    background-color: #86c3ca;
    border: 0;
    width: 90px;
    height: 20px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1.2pt;
    cursor: pointer;
    outline: none;

}

.commentButton:hover{
    color: #1c8591;
}

.commentContent{
    width:800px;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    margin: 0 auto;
    display: none;
}

.othersComments{
    width: 600px;
    margin: 0 auto;
    padding-top: 15px;

}

.othersCommentsBorder{
    height: 20px;
    background-color: #1c8591;
}

.commentBorderText{
    font-size: 11px;
    font-family: "georgia", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-style: italic;
    padding-top: 5px;
}

.othersCommentContent{
    background-color: white;
    margin-bottom: 15px;
}

.othersCommentText{
    color: black;
    padding: 15px;
    font-size: 13px;
    text-align: left;
    line-height: 1.2;
}

.yourComment{
    background-color: white;
    width: 600px;
    margin: 0 auto;
}

.yourCommentText{
    color: grey;
    padding: 15px;
    text-align: left;
    font-size: 14px;
}

.yourCommentButton{
    margin-top: 15px;
    margin-bottom: 15px;
    width: 150px;
    color: white;
    background-color: #cc4148;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.yourCommentButton:active{
    background-color: darkred;
}



